/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    display: inline-block;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.game-container{
    width: 40%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;

    background-color: rgba(255, 255, 255, 0.11);
}

.game-container h1{
    padding: 20px;
    font-size: 30px;
}

.issues{
    text-align: center;
}

.issues h2{
    margin: 20px 0;
    font-size: 20px;
}

.extracted-numbers{
    margin: 100px 0;
    display: flex;
}

.user-number,
.pc-number{
    margin: 30px 50px;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.493);
    vertical-align: middle;
    position: relative;
}

.user-number p,
.pc-number p{
    display: flex;
    align-items: center;
}

.user-number.active,
.pc-number.active{
    border: 2px solid rgb(255, 255, 255);
}

.number{
    display: inline-block;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background-color: rgb(41, 41, 41);
}

.button-container .play-button{
    padding: 10px 50px;
    border-radius: 50px;
    font-size: 25px;
}

.button-container .clear-button{
    margin: 0 10px;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 18px;
    background-color: rgb(136, 14, 14);
    color: white;
}

.button-container .play-button.btn-disabled,
.button-container .clear-button.btn-disabled{
    color: black;
    background-color: grey;
    pointer-events: none;
}

#you-name,
#pc-name{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
}

.result-container h2{
    margin: 100px 0;
    font-size: 40px;
}